* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(135deg, #020617, #020617);
    color: #ffffff;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
    text-align: center;
}

h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 18px;
    margin-bottom: 30px;
    color: #cbd5f5;
}

form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

input {
    padding: 14px;
    width: 300px;
    max-width: 100%;
    border-radius: 6px;
    border: none;
    font-size: 16px;
}

button {
    padding: 14px 28px;
    background-color: #22c55e;
    border: none;
    border-radius: 6px;
    color: #000;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #16a34a;
}

.result-box {
    margin-top: 40px;
    background: rgba(255,255,255,0.08);
    padding: 25px;
    border-radius: 12px;
    text-align: left;
}

.result-box h2 {
    margin-bottom: 10px;
}

.result-box ul {
    margin-top: 10px;
    padding-left: 20px;
}

.result-box li {
    margin-bottom: 6px;
}

.info-section {
    margin-top: 60px;
    text-align: left;
    line-height: 1.8;
}

.info-section h2 {
    color: #22c55e;
    margin-bottom: 15px;
    font-size: 28px;
}

.info-section p {
    margin-bottom: 15px;
    font-size: 16px;
    color: #e5e7eb;
}

/* Mobile responsive */
@media (max-width: 600px) {
    h1 {
        font-size: 32px;
    }

    .result-box {
        padding: 18px;
    }
}

.content-wrapper {
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
}

.section-box {
    background: #ffffff;
    margin-bottom: 35px;
    padding: 30px 35px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.section-box h2 {
    font-size: 26px;
    margin-bottom: 15px;
    color: #1f2d3d;
    border-left: 6px solid #4a90e2;
    padding-left: 12px;
}

.section-box p {
    font-size: 16.5px;
    line-height: 1.9;
    color: #444;
    text-align: justify;
}

@media (max-width: 768px) {
    .section-box {
        padding: 20px;
    }

    .section-box h2 {
        font-size: 22px;
    }

    .section-box p {
        font-size: 15px;
    }
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background:rgb(251, 248, 248) ;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #2ecc71;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    color:black;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    color: #2ecc71;
}

